<html>
<head>
    Controlar Robo
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="./stylesheets/estilo.css" />
</head>
<body>
    <% include header.ejs %>      

            
                    <div class="col-sm-5 col-md-5 col-lg-5  col-xs-5  right-side">
                        <form class="form-signin" action="/cadastraruser" method="post">


                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel-group" id="accordion">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h4 class="panel-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                                        <span class="glyphicon glyphicon-file page-header"></span>Cadastro do Robo
                                                    </a>
                                                </h4>
                                            </div>
                                            
                                            <div id="collapseOne" class="panel-collapse collapse in">
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <%  if(!user == 'undefined'){
                                                              %>
                                                            <div class="form-group">
                                                                <input type="text" id="nome" value="<%= user.nome%>" name="nome" class="form-control" placeholder="Nome do Usuário" required />
                                                            </div>

                                                            <div class="form-group">
                                                                <input type="email" id="email" value="<%= user.email%>" name="email" class="form-control" placeholder="Email de Login" required />
                                                            </div>

                                                            <div class="form-group">
                                                                <input type="password" id="password" value="<%= user.password%>" name="password" class="form-control" placeholder="Sennha" required />
                                                            </div>

                                                            <div class="form-group">
                                                                <input type="tel" id="telefone" name="telefone" value="<%= user.telefone%>" class="form-control" placeholder="Telefone" required />
                                                            </div>

                                                            <div class="form-group">
                                                                <input type="file" name="foto" />
                                                            </div>

                                                            <div class="form-group">
                                                                <select class="form-control" name="especializacao" id="especializacao">
                                                                    <option value="Psicólogo">Psicólogo</option>
                                                                    <option value="Fonodiólogo">Fonodiólogo</option>
                                                                    <option value="Médico">Médico</option>
                                                                    <option value="Assistente Social">Assistente Social</option>

                                                                </select>
                                                            </div>

                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox" name="administrador" value="<%= user.administrador%>" value="true">
                                                                    administrador
                                                                </label>
                                                            </div>


                                                            <% }else{ %>
                                                            <div class="form-group">
                                                                <input type="text" id="nome"  name="nome" class="form-control" placeholder="Nome do Usuário" required />
                                                            </div>

                                                            <div class="form-group">
                                                                <input type="email" id="email" name="email" class="form-control" placeholder="Email de Login" required />
                                                            </div>

                                                            <div class="form-group">
                                                                <input type="password" id="password" name="password" class="form-control" placeholder="Sennha" required />
                                                            </div>

                                                            <div class="form-group">
                                                                <input type="tel" id="telefone" name="telefone" class="form-control" placeholder="Telefone" required />
                                                            </div>

                                                            <div class="form-group">
                                                                <input type="file" name="foto" />
                                                            </div>

                                                            <div class="form-group">
                                                                <select class="form-control" name="especializacao" id="especializacao">
                                                                    <option value="Psicólogo">Psicólogo</option>
                                                                    <option value="Fonodiólogo">Fonodiólogo</option>
                                                                    <option value="Médico">Médico</option>
                                                                    <option value="Assistente Social">Assistente Social</option>

                                                                </select>
                                                            </div>

                                                            <div class="checkbox">
                                                                <label>
                                                                    <input type="checkbox" name="administrador" value="true">
                                                                    administrador
                                                                </label>
                                                            </div>
                                                            <% } %>
                                                            <button class="btn btn-lg btn-primary btn-block" type="submit">Cadastrar</button>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
              </body>
</html>
