<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
    <link rel="stylesheet" href="../stylesheets/estilo.css" />

</head>
<body>
    <% if(user.adm){ %>
    <% include header.ejs %>
    <% } else { %>
    <% include header2.ejs %>
    <% } %>      

    <div class="col-sm-1 col-md-1 col-lg-1 col-xs-1 "></div>
    <div class="col-sm-12 col-md-10 col-lg-10  col-xs-12  conteudo">
        
            <div class="row">
                <div class="col-md-12">
                    <div class="panel-group" id="accordion">
                        <div class="panel">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" >
                                        <span class="glyphicon glyphicon-file page-header"></span>Histórico
                                    </a>
                                </h4>
                            </div>

                            <div id="collapseOne" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <% if (typeof historico != 'undefined') { %>

                                                    <div class="col-lg-6 col-md-6">
                                                        <label>Paciente</label>
                                                        <input type="text" id="paciente" name="paciente" value="<%= historico.paciente%>" class="form-control" readonly/>
                                                    </div>

                                            <div class="col-lg-6 col-md-6">
                                                <label>Usuário</label>
                                                <input type="text" id="user" name="user" value="<%= historico.user %>"  class="form-control" readonly/>
                                            </div>

                                            <div class="col-lg-6 col-md-6">
                                                <label>Robo</label>
                                                <input type="text" id="robo" name="robo" value="<%= historico.robo%>"  class="form-control" readonly/>
                                            </div>

                                            <div class="col-lg-6 col-md-6">
                                                <label>Data</label>
                                                <input type="text" id="data" name="data" value="<%= historico.dataFormatada %>" class="form-control" readonly />
                                            </div>

                                            <div class="col-lg-6 col-md-6">
                                                <label>Duração</label>
                                                <input type="text" id="tempDiferenca" name="tempDiferenca" value="<%= historico.tempDiferenca %>" class="form-control" readonly />
                                            </div>

                                            <div class="col-lg-6 col-md-6">
                                                <label>N° do acesso</label>
                                                <input type="text" id="numeroDoAcesso" name="numeroDoAcesso" value="<%= historico.numeroDoAcesso%>" class="form-control" readonly />
                                            </div>

                                            <div class="col-lg-3 col-md-3"></div>
                                            <div class="col-lg-6 col-md-6">
                                                <label>Nota</label>
                                                <input type="text" id="nota" name="nota" value="<%= historico.nota%>" class="form-control" readonly />
                                            </div>
                                            <div class="col-lg-3 col-md-3"></div>
                                            

                                            <% } %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
    </div>


</body>



</html>
