<html>
<head>
    Controlar Robo
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>   
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="./stylesheets/estilo.css" />
</head>
<tbody>

    <% include header.ejs %>      

    
        
            
      
            <div class="col-sm-5 col-md-5 col-lg-5  col-xs-5  right-side">
                <div class="panel panel-default">
                <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                                <span class="glyphicon glyphicon-file page-header">
                                                </span>Lista de Pacientes cadastrados
                                            </a>
                                        </h4>
                                    </div>
               <div class="bs-example">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="col-md-2">Nome</th>     
                            <th class="col-md-2">Atendente</th>      
                            <th class="col-md-2">Robo</th>     
                            <th class="col-md-2">Telefone </th>                  
                            <th class="col-md-1">Editar</th>    
                            <th class="col-md-1">Acessar</th>               
                           
                        </tr>
                    </thead>
                    <tbody>
                    <% 
                      if(pacientes != 'undefined'){
                        pacientes.forEach(function(paciente) { %>
                   <tr>
                         <td> <%= paciente.nome %> </td>
                       <td>
                           
                           <select class="form-control" name="atendente" id="atendente">
                               
                               <% 
                               var i = 0;

                               if(users != 'undefined'){                                     
                                    users.forEach(function(atendente){ 
                               if(paciente.idAtendente == 'undefined' && i == 0) {
                                            i = 1; %>
                               <option>Indefinido</option>
                               <%  }else if(paciente.idAtendente != 'undefined' && atendente._id == paciente.idAtendente){
                               %>                                 
                               <option value="atendente._id" selected><%= atendente.nome%></option>
                               <% }else{ %>
                               <option value="atendente._id"><%= atendente.nome%></option>
                               <%     }
                                   });  } %>
                           </select>
                           
                       </td>
                        <td> <%= paciente.robo %> </td>                  
                       <td> <%= paciente.telefone %> </td>                  

                    <td>
                        <button type="button" class="btn btn-default"  onclick="location.href = './atualizarpaciente/<%= paciente._id%>'"  aria-label="Left Align">
                       <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                     </button>
                    </td>   

                       <td>
                        <button type="button" class="btn btn-default"  onclick="location.href = './camera%>'"  aria-label="Left Align">
                       <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                     </button>
                    </td>   
                   
                       </tr>
               <% }); 
                      }  %>
                    </tbody>
                </table>
                  
                    </div>
                    
               
            </div>
        </div>
    </div>
    </div>
</body>



</html>
