<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
    <link rel="stylesheet" href="../stylesheets/estilo.css" />    

</head>
<body>
    <% include header.ejs %>      
    <div class="col-sm-1 col-md-1 col-lg-1 col-xs-1 "></div>
            <div class="col-sm-12 col-md-10 col-lg-10 col-xs-12 conteudo">
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                <span class="glyphicon glyphicon-file page-header"></span>Lista de robos Cadastrados
                            </a>
                        </h4>
                    </div>
          <% if (typeof message != 'undefined'){ %>
            <div class="alert alert-succes" role="alert">
                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                <span class="sr-only">Error:</span><%= message %>
            </div>

                    <% }  %>
                       
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <td class="col-md-3">Nome</td>
                                   <!-- <td class="col-md-1">Histórico</td> -->
                                    <td class="col-md-1">Editar</td>
                                    <td class="col-md-1">Apagar</td>
                                </tr>
                            </thead>
                            <% if(!dados != 'undefined') {
                                   dados.forEach(function(robo) { %>
                            <tbody>

                                <tr>
                                    <td class="nome"><%= robo.nome %> </td>
                                   <!-- <td>
                                        <button type="button" class="btn btn-default" onclick="location.href = './atualizarrobo/<%= robo._id%>'" aria-label="Left Align">
                                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                        </button>
                                    </td> -->
                                    <td>
                                        <button type="button" class="btn btn-default" onclick="location.href = './cadastrarrobo/<%= robo._id%>'" aria-label="Left Align">
                                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                        </button>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-default btdeletar" value="<%= robo._id%>"  aria-label="Left Align">
                                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                        </button>
                                    </td>
                                    <script>
                                        $(".btdeletar").click(function () {
                                            var $row = $(this).closest("tr");
                                            var $id = $row.find(".btdeletar").val();
                                            var $nome = $row.find(".nome").text();

                                            var r = confirm("Tem certeza que deseja deletar o Robo: " + $nome);
                                            if (r == true) {
                                                window.location.href = './deletarrobo/' + $id;
                                            } else { }
                                        });
                                    </script>
                                </tr>

                            </tbody>
                            <% });  } %>
                        </table>

                </div>

            </div>
</body>


</html>
